@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

.genecart {
	width: 100%;
	height: 20%;
	display: flex;
}

.setimage {
	height: 95px;
	width: 95px;
}

.second {
	display: flex;
	margin-left: 20%;
	margin-top: 2%;
	align-items: baseline;
}

.boxofitem {
	height: 30px;
	width: 30px;
	border: 1px solid black;
	background-color: rgb(235, 233, 233);
	margin-left: 8%;
	margin-right: 3%;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	padding: 2px;
}

.second2 {
	margin-top: 2%;
	margin-left: 15%;
}

.second1 {
	margin-top: 2%;
	margin-left: 12%;
	font-size: smaller;
	clear: both;
	display: inline-block;
	white-space: nowrap;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	padding: 0%;
}

.itemname {
	color: black;
	font-weight: 400;
	margin-bottom: auto;
}

.itemcolor {
	font-size: 8px;
	font-weight: 100;
}




.cardflot {
	float: right;
	margin-right: 10%;
	margin-top: 1%;
}

.arro {
	margin-left: 10px;
}

.Centerline {
	align-items: center;
	width: 100%;
	text-align: center;
	color: #636060;
}

.heroline {
	margin-top: 0%;
	margin-left: 10%;
	margin-right: 6%;
}

.bor {
	background-color: #e4e4e4;
	margin-left: 12%;
	margin-right: 18%;
	margin-bottom: 0%;
	height: 10%;
}

.linemar {
	margin-left: 10%;
	margin-top: 1%;
}

.itemlist {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: auto;
	padding: 1%;
	font-size: medium;
	font-weight: 400;
	align-items: center;
}

.card {
	border: 1px solid black;
	width: 70%;
	height: auto;
	margin-left: 12%;
	margin-left: 12%;
}

/* .card:hover{
    transform: scale(0.7);
    background-color: bisque;
} */

.itemname {
	color: black;
	font-weight: 400;
	margin-bottom: auto;
}

.itemcolor {
	font-size: 8px;
	font-weight: 100;
}

a {
	border: 0 none;
	outline: 0;
	text-decoration: none;
}

strong {
	font-weight: bold;
}

p {
	margin: 0.75rem 0 0;
}

h1 {
	font-size: 0.75rem;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

input,
button {
	border: 0 none;
	outline: 0 none;
}

button {
	background-color: #558eea;
	color: #fff;
}


img,
.basket-labels,
.basket-product {
	width: 100%;
}

input,
button,
.basket,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
	float: left;
}

.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before,
.promo-value:before {
	content: "£";
}

.hide {
	display: none;
}

main {
	clear: both;
	font-size: 0.75rem;
	margin: 0 auto;
	overflow: hidden;
	padding: 1rem 0;
	width: 90%;
}

.basket,
aside {
	padding: 0 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.basket {
	width: 60%;
	
}


label {
	display: block;
	margin-bottom: 0.3125rem;
}


.basket-labels {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 1.625rem;
	font-size: 13px;
	font-weight: 800;
}

.ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.li {
	color: #111;
	display: inline-block;
	padding: 0.625rem 0;
	font-weight: 600;
}

li.price:before,
li.subtotal:before {
	content: "";
}

.item {
	width: 55%;
}

.price,
.quantity,
.subtotal {
	width: 15%;
}
.basket-product.hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.subtotal {
	text-align: right;
}

.remove {
	bottom: 1.125rem;
	float: right;
	position: absolute;
	right: 0;
	text-align: right;
	width: 45%;
}

.remove button {
	background-color: transparent;
	color: black;
	font-weight: 800;
	float: none;
	text-decoration: underline;
	text-transform: uppercase;
}

.item-heading {
	padding-left: 4.375rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.basket-product {
	border-bottom: 1px solid #ccc;
	padding: 1rem 0;
	position: relative;
}

.product-image {
	width: 35%;
}

.product-details {
	width: 65%;
}

.product-frame {
	border: 1px solid #aaa;
}

.product-details {
	padding: 0 1.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.quantity-field {
	background-color: rgb(210, 208, 208);
	border: 1px solid #aaa;
	border-radius: 4px;
	font-size: 0.625rem;
	padding: 2px;
	width: 3.75rem;
	color: #111;
	text-align: center;
}

aside {
	float: right;
	position: relative;
	width: 40%;
}

.summary {
	background-color: #8a86b8;
	color: rgb(0, 0, 0);
	border: 1px solid white;
	padding: 1rem;
	position: fixed;
	width: 350px;
	height: 60%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.summary-total-items {
	color: white;
	font-size: 0.875rem;
	text-align: center;
	font-weight: 700;
}

.summary-subtotal,
.summary-total {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	margin: 1rem 0;
	overflow: hidden;
	padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
	color: white;
	float: left;
	width: 50%;
	font-weight: 700;
}

.summary-promo {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.promo-title {
	float: left;
	width: 70%;
}

.promo-value {
	color: #8b0000;
	float: left;
	text-align: right;
	width: 30%;
}

.summary-delivery {
	padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
	text-align: right;
}

.total-title {
	font-weight: bold;
	text-transform: uppercase;
}

.summary-checkout {
	display: block;
}

.checkout-cta {
	display: block;
	float: none;
	font-size: 0.75rem;
	text-align: center;
	text-transform: uppercase;
	padding: 0.625rem 0;
	width: 100%;
	background-color: #ffffff;
	color: #000000;
}

.summary-delivery-selection {
	background-color: #f5f5f5;
	color: #000000;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 4px;
	display: block;
	font-size: 0.625rem;
	height: 34px;
	width: 100%;
	font-weight: 500;
}

@media screen and (max-width: 640px) {

	aside,
	.basket,
	.summary,
	.item,
	.remove {
		width: 100%;
	}

	.basket-labels {
		display: none;
	}

	.item {
		margin-bottom: 1rem;
	}

	.product-image {
		width: 40%;
	}

	.product-details {
		width: 60%;
	}

	.price,
	.subtotal {
		width: 33%;
	}

	.quantity {
		text-align: center;
		width: 34%;
	}

	.quantity-field {
		float: none;
	}

	.remove {
		bottom: 0;
		text-align: left;
		margin-top: 0.75rem;
		position: relative;
	}

	.remove button {
		padding: 0;
	}

	.summary {
		margin-top: 1.25rem;
		position: relative;
	}
}

@media screen and (min-width: 641px) and (max-width: 960px) {
	aside {
		padding: 0 1rem 0 0;
	}

	.summary {
		width: 28%;
	}
}

@media screen and (max-width: 960px) {
	main {
		width: 100%;
	}

	.product-details {
		padding: 0 1rem;
	}
}

/* .boxofitem {
	height: 20px;
	width: 50px;
	border: 1px solid black;
	background-color: rgb(235, 233, 233);
	margin-left: 8%;
	margin-right: 3%;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	padding: 2px;
} */

.second {
	display: flex;
	margin-left: 20%;
	margin-top: 2%;
	align-items: baseline;
}