.card {
	background-color: rgb(218, 231, 227);
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: black;
	font-weight: 500;
	padding: 1%;
	font-size: 1em;
	margin: auto;
	text-align: center;
	border: none;
}

.card-content{
	display: flex;
	width: 100%;
	margin: auto;
}
.align{
	font-size: 13px;
	font-weight: 500;
	margin: 0px;
	margin-top:1%;
	margin-left: 1%;
}

.div-content {
	border-bottom: 1px solid rgb(176, 192, 187);
	padding: 3%;
	text-align:initial;
}

.card-image {
	margin-top: 0%;
	width: 20vw;
	height: 33vh;
}

.card-button-div {
	display: flex;
	margin-top: 2%;
}

.card-button {
	margin-top: 8%;
	margin: auto;
	width: max-content;
	height: 40px;
	align-items: center;
	border-radius: 10px;
}

.comment-div{
	display: flex;
	background-color: rgb(240, 235, 230);
	width: 24%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: -16%;
	height: 30px;
	opacity: .7;
	border-radius: 5px;
	margin-left: 2%;
	font-size: 10px;
}
.comment-div:hover{
	opacity: 1;
	scale: .9;
	font-weight: 700;
}

.vertrical-line{
	border-left: 1px solid #0078B2;
	height: 15px;
	margin-top: 20%;
	margin-right: 3px;
	margin-left: 3px;
}
.show-button{
	margin:auto;
	width: 60%;
	color: black;
	font-weight: 600;
	height: 35px;
	border-radius: 2px;
}
.hide{
	display: none;
}
.card-button-div:hover+.hide {
	display: flex;
	background-color: rgb(231, 221, 221);
	position: absolute;
	top: 0%;
	height: 20%;
	width: 98%;
	opacity: .7;
}